<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de relatório</title>
    <link rel="stylesheet" href="css/layoutRelatorio.css">


    <script src="https://kit.fontawesome.com/5c7c6d79df.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</head>

<body class="bg-body-secondary">
    <%- include('menu') %>
        <nav>
            <input type="hidden" id="nomesCaracteristicas" name="nomesCaracteristicas">
            <input type="hidden" id="contagensCaracteristicas" name="contagensCaracteristicas">
        </nav>
        <!--Duas áreas de texto, uma que mostra a lista de arquivos adicionadas e outra que ao clicar, mostra breviamente o código-fonte selecionado-->
        <div class="container">
            <h1>Relatório de Características</h1>

            <span id="contChars">
                <%= contChars %>
            </span>
            <span>
                <%= chars %>
            </span>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ContChars</th>
                        <th>Chars</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < contChars.length; i++) { %>
                        <tr>
                            <td><%= contChars[i].toString().replace(',', '') %></td>
                            <td><%= chars[i] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            
            
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom px-5">
                <div class="me-5 d-none d-lg-block px-5">
                    <span><a href="/processamento">Voltar</a></span>
                </div>
            </section>


            <%- include('rodape') %>
</body>

</html>

